#set($layout = "layout/shareLayout.htm")
<script>
	
</script>
<div class="row">
   <div class="span2">
      <ul class="well nav nav-pills nav-stacked">
      <li class="nav-header"><i class="icon-tasks"></i> 推荐快捷键</li>
       <li class="divider_line"></li>
         #foreach($recommendKey in $result.recommendKeys)
         <script>
         var tokens_${velocityCount} = $gson.toJson($recommendKey.hotkey.tokens);
         var video_${velocityCount} = "$recommendKey.hotkey.videoUrl";
									</script>
         <li class="$!{indexActive}"><a href="javascript:clickHotkey(tokens_${velocityCount});playVideo(video_${velocityCount});"><i class="icon-fire"></i>
               $recommendKey.hotkey.name <span style="margin-left:0px; #if($recommendKey.used) color:green #end">$string.format("%.0f%%",$recommendKey.hotkey.usage)</span></a> </li> #end
      </ul>
   </div>
   <div class="span10">#parse("main.htm")</div>
</div>
