<div class="containter navbar  navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">烦躁的香蕉</a>
		</div>
	</div>
</div>
<section id="wrapper">
	<article>
		<div class="container" style="margin-top: 60px">
			<div class="row" style="text-align: center">
				<h2 align="center">快到框里来！</h2>
				<hr />
				<div id="holder"
					style="background-image: url('http://192.168.26.80/angry_banana.png'); background-size: 300px; background-position: center; background-repeat: no-repeat;"></div>
				<p id="upload" class="hidden">
					<label>拖拽不给力啊，只能土一点了<br> <input type="file">
					</label>
				</p>
				<p id="filereader" class="hidden">文件预览不给力啊，只能去看分析结果了</p>
				<p id="formdata" class="hidden">XHR2's FormData is not supported</p>
				<p id="progress" class="hidden">XHR2's upload progress isn't
					supported</p>
				<div class="progress" style="text-align: center">
					<progress class="bar bar-warning" id="uploadprogress" min="0"
						max="100" value="0" style="width: 0%">0</progress>
				</div>
				<button id="analytic" class="btn btn-primary btn-large"
					onclick="send()" disabled="disabled">开始分析!</button>
				<hr />
				<div class="row-fluid">
					<div class="span4">
						<h2>想更高效有趣的使用App?</h2>
						<p>
						熟练使用快捷键可以大大提升App的使用效率，让你有更多时间做爱做的事情：）
							</p>
					</div>
					<div class="span4">
						<h2>King of Shorts!</h2>
						
						<a href="">下载(Mac only now)</a><br/>
						运行King of Shorts, 正常使用App<br/>
						上传文件/Users/用户名/Documents/banana.txt<br/>
						查看分析和推荐<br/>
						没有安全问题，只记录组合键，且可查看上传的文件内容：）
					</div>
					<div class="span4">
						<h2>后续工作</h2>
						<p>
						支持其他App(当前仅支持Eclipse)<br/>
						收集更多用户数据，使推荐更精准<br/>
						支持排行榜，看看自己有多nb
						
							</p>
					</div>
				</div>
			</div>
		</div>
	</article>

	<script>
		var holder = document.getElementById('holder'), tests = {
			filereader : typeof FileReader != 'undefined',
			dnd : 'draggable' in document.createElement('span'),
			formdata : !!window.FormData,
			progress : "upload" in new XMLHttpRequest
		}, support = {
			filereader : document.getElementById('filereader'),
			formdata : document.getElementById('formdata'),
			progress : document.getElementById('progress')
		}, acceptedTypes = {
			'text/plain' : true
		}, progress = document.getElementById('uploadprogress'), fileupload = document
				.getElementById('upload'), analytic = document.getElementById('analytic');

		"filereader formdata progress".split(' ').forEach(function(api) {
			if (tests[api] === false) {
				support[api].className = 'fail';
			} else {
				// FFS. I could have done el.hidden = true, but IE doesn't support
				// hidden, so I tried to create a polyfill that would extend the
				// Element.prototype, but then IE10 doesn't even give me access
				// to the Element object. Brilliant.
				support[api].className = 'hidden';
			}
		});

		function previewfile(file) {
			if (tests.filereader === true && acceptedTypes[file.type] === true) {
				var reader = new FileReader();
				reader.onload = function(event) {
					holder.innerHTML = [ '<iframe  frameborder="0" style="width:600px;min-height:400px" scrolling="auto" src="', event.target.result,
				                            '"/>' ]
							.join('');
				};

				reader.readAsDataURL(file);
			} else {
				holder.innerHTML += '<p>Uploaded ' + file.name + ' '
						+ (file.size ? (file.size / 1024 | 0) + 'K' : '');
				console.log(file);
			}
		}
		
		function send() {
			window.location.href = "result";
		}
		
		function readfiles(files) {
			debugger;
			var formData = tests.formdata ? new FormData() : null;
			for ( var i = 0; i < files.length; i++) {
				if (tests.formdata)
					formData.append('file', files[i]);
				previewfile(files[i]);
			}

			// now post a new XHR request
			if (tests.formdata) {
				var xhr = new XMLHttpRequest();
				xhr.open('POST', '/upload');
				xhr.onload = function() {
					progress.value = progress.innerHTML = 100;
					//done
					if (xhr.readyState == 4 && xhr.status == 200) {
						analytic.disabled = "";
					}
				};

				if (tests.progress) {
					xhr.upload.onprogress = function(event) {
						if (event.lengthComputable) {
							var complete = (event.loaded / event.total * 100 | 0);
							<!-- progress.value = progress.innerHTML = complete; -->
							progress.style.cssText = "width:" + complete + "%";
						}
					}
				}

				xhr.send(formData);
				
				//done
				xhr.onreadystatechange = function() {
					if (xhr.readyState == 4 && xhr.status == 200) {
						analytic.disabled = "";
					}
				}
			}
		}

		if (tests.dnd) {
			holder.ondragover = function() {
				this.className = 'hover';
				return false;
			};
			holder.ondragend = function() {
				this.className = '';
				return false;
			};
			holder.ondrop = function(e) {
				this.className = '';
				e.preventDefault();
				readfiles(e.dataTransfer.files);
			}
		} else {
			fileupload.className = 'hidden';
			fileupload.querySelector('input').onchange = function() {
				readfiles(this.files);
			};
		}
	</script>
</section>
