#set($encodedKeyword = ${encoder.encodeUTF8(${keyword})})
#set($encodedSource = ${encoder.encodeUTF8(${source})}) #set($queryUrl =
"${rc.contextPath}/list?keyword=$!encodedKeyword&source=$!encodedSource")
<div class="container">
   <div class="row-fluid">
      <div class="span9">
         <div style="margin-top: 30px;">
            <ul class="breadcrumb">
               <li><a href="${rc.contextPath}">首页</a> <span
                  class="divider">&gt;</span></li>
               <li class="active">搜索 ${keyword}</li>
            </ul>
         </div>
         <hr>
         <div>
            <span style="font-size: 12px; float: right">找到
               <span style="color:red">${searchResult.totalhits}</span> 条结果</span>
            <h5>搜索结果列表</h5>
         </div>
         #foreach($record in $searchResult.records)
         <section class="j-result-sections">
            <div class="bs-docs-example">
               <h4>
                  <a name="title" target="_blank" href="$record.url">$record.title</a>
               </h4>
               <p name="content">$!stringUtils.abbreviate($record.content,50)</p>
               <div class="row-fluid">
                  <div class="span2">
                     <code>作者:</code>
                     <span class="dec">$!stringUtils.abbreviate($!record.author,15)</span>
                  </div>
                  <div class="span2">
                     <code>来源:</code>
                     <span class="dec">$!stringUtils.abbreviate($!record.source,15)</span>
                  </div>
                  <div class="span3">
                     <code>创建时间:</code>
                     <span class="dec">$!{dateFormatUtils.format($record.createdate,"yyyy年MM月dd日HH时mm分")}</span>
                  </div>
                  <div class="span5">
                     <code>附加信息:</code>
                     <span class="dec" title="$!record.extrainfo">$!stringUtils.abbreviate($!record.extrainfo,20)</span>
                  </div>
               </div>
            </div>
         </section>
         #end
         <div style="margin-top: 50px;" class="pagination">
            <ul>
               #if(!$paginator.isDisabledPage(1))
               <li><a href="${queryUrl}">首页</a></li> #else
               <li class="disabled"><a href="javascript:;">首页</a></li>
               #end
               #if($paginator.isDisabledPage($paginator.getPreviousPage()))
               <li class="disabled"><a href="javascript:;">上一页</a></li>
               #else
               <li><a
                  href="${queryUrl}&pageNum=$paginator.getPreviousPage()">上一页</a></li>
               #end #foreach($slider in $paginator.getSlider())
               #if($slider == $paginator.getLastPage())
               #set($containEndPage = true) #end
               #if($paginator.isDisabledPage($slider))
               <li class="active"><a href="javascript:;">$slider</a></li>
               #else
               <li><a href="${queryUrl}&pageNum=$slider">$slider</a></li>
               #end #end
               #if($paginator.isDisabledPage($paginator.getNextPage()))
               <li class="disabled"><a href="javascript:;">下一页</a></li>
               #else
               <li><a
                  href="${queryUrl}&pageNum=$paginator.getNextPage()">下一页</a></li>
               #end #if(!$containEndPage)
               <li><a
                  href="${queryUrl}&pageNum=$paginator.getLastPage()">末页</a></li>
               #else
               <li class="disabled"><a href="javascript:;">末页</a></li>
               #end
            </ul>
         </div>
      </div>
      <div class="span3 bs-docs-sidebar">
         <ul class="nav nav-list bs-docs-sidenav affix">
            <li>
               <form action="${rc.contextPath}/list" class="form-search">
                  <div class="input-append">
                     <input type="text" name="keyword"
                        value="$!{keyword}"
                        class="input-medium search-query">
                     <button type="submit" class="btn">
                        <i class="icon-search"></i>
                     </button>
                  </div>
               </form>
            </li>
         </ul>
         <ul class="nav nav-list bs-docs-sidenav affix"
            style="margin-top: 80px">
            <li class="#if($source=='all')active #end"><a
               href="${rc.contextPath}/list?keyword=$!encodedKeyword"><i
                  class="icon-tags"></i> 全部</a></li> #foreach($entry in
            ${searchResult.statistics.source.entrySet()})
            <li class="#if($source==$entry.key)active #end"><a
               href="${rc.contextPath}/list?keyword=$!encodedKeyword&source=${encoder.encodeUTF8($entry.key)}"><i
                  class="icon-tag"></i>$entry.key ($entry.value)</a></li> #end
         </ul>
      </div>
   </div>
</div>
<script>
$(document).ready(function() {
	var keyword = "${stringEscapeUtils.escapeJavaScript(${keyword})}";
    $.each($("a[name='title']"), function(i, el) {
    	var text = $(el).text().replace(new RegExp(keyword,"g"),"<span style='color:red'>"+keyword+"</span>");
    	$(el).html(text);
    });
    $.each($("p[name='content']"), function(i, el) {
        var text = $(el).text().replace(new RegExp(keyword,"g"),"<span style='color:red'>"+keyword+"</span>");
        $(el).html(text);
    });
});
</script>
<script type="text/javascript"
   src="${rc.contextPath}/public/js/list.js"></script>
